@media (min-width: 1280px){
    .container{max-width: 1230px;}
    .f_copy_link svg rect{stroke: #B3B3B3;}
}
@media (max-width: 1200px){
    .bg_icon_2 {right: -30px;}
    .bg_icon_1 {left: -11px;}
}
@media (max-width: 1199px){
    #hero_sec {
        overflow: hidden;
        padding-top: 412px;
        padding-bottom: 117px;
        background: #F8F6E5;
    }
    .hero_inner {
        width: 70%;
        padding: 40px 27px 20px;
    }
    .bg_icon_2 {
        right: -52px;
        bottom: 34%;
        width: 145px;
        height: 140px;
    }
    .bg_icon_1 {left: -51px;}
    .main_screen_bg{display: none;}
    .my_nft_wrap {padding-left: 0;}
    .bg_icon_1 {
        top: 13%;
        width: 137px;
        height: 133px;
        left: -46px;
    }
    .form_group {
        width: auto;
        height: auto;
        padding-left: 15px;
        background-image: unset;
        background-position: unset;
        background-repeat: unset;
        background-size: unset;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .innre_screen_b{display: block;}
    .form_group input{
        width: 485.5px;
        height: 42.11px;
        background-image: url(../images/tab_input.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 15px;
        margin-bottom: 12px;
    }   
    .form_group button {
        width: 187px;
        height: 70px;
        background-image: url(../images/btn.svg);
        background-position: center;
        padding-bottom: 10px;
        font-size: 14px;
        line-height: 1.3;
        color: #FFFFFF;
    }
    .form_group button:hover{
        background-position: center;
        transform: translateY(-3px);
    }
    .copy_link{display: none;}
    .ipad_bg,
    .inner_screen, .innre_screen_b{display: block;}
    .logo_screen{
        position: absolute;
        top: 55px;
        left: 50%;
        transform: translateX(-50%);
    }
    .bg_left_center {
        top: 19%;
        left: 50%;
        transform: translateX(-50%);
    }
    .bg_right_top {
        border-radius: 0;
        z-index: 0;
    }
    .main_ttile {font-size: 28px;}
    .hero_details {
        font-size: 20px;
        max-width: 453px;
    }
    .pr_launch {flex-direction: column;}
    .pr_launch_block + .pr_launch_block {
        margin-left: 0;
        margin-top: 12px;
    }
    .pr_launch_block {
        padding: 9px 13px;
        text-align: left;
        display: flex;
        align-items: center;
        width: 285.9px;
        height: 86.59px;
        background: #FFFDEB;
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-shadow: 3px 4px 15px rgba(94, 64, 64, 0.1);
        backdrop-filter: blur(16px);
        border-radius: 15.211px;
    }
    .pr_launch {margin-bottom: 28px;}
    .hero_form_wrap h2 {font-size: 19px;}
    .footer_wrapper {padding-top: 40px;}
    .footer_menu {
        justify-content: center;
        flex-direction: column-reverse;
        padding-bottom: 70px;
        width: 67%;
        margin: 0 auto;
    }
    .get_the_latest_updates {
        width: 100%;
        margin-left: auto;
        text-align: center;
    }
    .get_the_latest_updates p {
        max-width: 345px;
        margin: 0 auto 21px;
    }
    #footer_section .form_group {
        width: 100%;
        height: auto;
        background-image: unset;
        margin-bottom: 38px;
    }
    #footer_section .form_group input{
        width: 485.5px;
        height: 42.11px;
        background-image: url(../images/field.png);
        margin-bottom: 16px;
    }
    #footer_section .form_group button{
        width: 128.68px;
        height: 42.11px;
        padding: 0;
        background-position: left center;
    }
    .footer_menu_wrap {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
    }
    .f_menu_list{width: 100%;}
    .f_menu_item{
        justify-content: space-between;
        width: 100%;
    }
    .f_menu_list + .f_menu_list{margin-top: 25px;}
    .f_menu_item + .f_menu_item {margin-top: 25px;}
    .down_arrow {
        display: block;
        padding: 0 10px;
    }
    .cooming_soon {
        width: 672px;
        margin: 0 auto 30px;
        padding:30px;
    } 
    .logo_icon{
        flex-direction: column;
        align-items: flex-start;
    }
    .f_logo{margin-bottom: 10px;}
    .f_copy_link p {font-size: 16px;}
    .f_icon li + li {margin-left: 26px;}
    .footer_logo_and_icon {align-items: flex-end;}
    .dummy_bg_1, .dummy_bg_2, .dummy_bg_3{
        background: #FFFFFF;
        opacity: 0.7;
        filter: blur(2px);
        border-radius: 11.7953px;
    }
    .dummy_bg_1{
        width: 582.4px;
        height: 151.7px;
    }
    .dummy_bg_2{
        width: 504.49px;
        height: 151.7px;
    }
    .dummy_bg_3{display: none;}
    .f_copy_link::before{
        color: #FFFFFF;
        background-image: url(../images/coming-soon-2.png);
        top: -72px;
        right: 4px;
        padding-bottom: 18px;
    }
    .copy_right_wrap {
        flex-direction: column-reverse;
        padding: 10px 0 50px;
    }
    .copy_right_wrap p + p {margin-left: 0;}
    .copy_right_wrap p{line-height: 1;}
    .copy_right_wrap p span {line-height: 0;}
    .copy_right_wrap::before {
        background-image: url(../images/line_2.png);
        background-size: contain;
        width: 148px;
    }
    .pr_launch_details h3 {font-size: 19px;}
    .pr_launch_details p {font-size: 13px;}
    
    .f_menu_list a {
        width: 100%;
    }
    .f_menu_list a + a {
        margin-top: 25px;
    }
    #footer_section .innre_screen_b {
        display: none;
    }
    #footer_section .main_screen_bg{
        color: #040404;
        opacity: 0.3;
        font-size: 13px;
        display: block;
    }
}
@media (max-width: 991px){
    .hero_inner {
        width: 673px;
        padding: 40px 27px 20px;
    }
    #hero_sec {padding-top: 426px;}
    .bg_left_center {
        top: 16%;
        width: 625px;
    }
    .footer_menu {
        width: 91%;
    }
}
@media screen and (max-width:500px){
    #hero_sec {padding-top: 336px;}
    .mobile_bg{
        display: block;
    }
    .bg_right_top,
    .bg_right_top .mobile_bg{
        width: 100%;
    }
    .bg_left_center .mobile_bg {
        margin: 0 auto;
    }
    .ipad_bg{display: none;}
    .logo_screen {top: 45px;}
    .bg_left_center {
        top: 14%;
        width: 94%;
    }
    .form_group input {
        width: 299px;
        height: 38px;
        background-image: url(../images/mobile_input.png);
    }
    .hero_inner {
        width: 339px;
        padding: 25px 20px;
    }
    .pr_launch_block{
        width: 203.85px;
        height: 61.89px;
    }
    .cm_col-12{padding: 0;}
    .main_ttile {font-size: 18px;}
    .hero_details {font-size: 13px;}    
    .hero_form_wrap h2 {font-size: 18px;}
    .bg_icon_1 {
        top: 19%;
        width: 113.52px;
        height: 109.61px;
        left: -56px;
    }
    .bg_icon_2 {
        right: -60px;
        bottom: 40%;
        width: 113.52px;
        height: 109.61px;
    }
    .form_group button {margin-bottom: -20px;}
    .main_border,
    .ipad_border{display: none;}
    .mobile_border{display: block;}
    #footer_section .form_group input {
        width: 100%;
        background-image: url(../images/field_2.png);
        height: 58px;
    }
    .cooming_soon {
        width: 100%;
        padding: 25px;
        margin: 0 auto 55px;
    }
    .footer_logo_and_icon {flex-direction: column;}
    .footer_logo_and_icon {align-items: center;}
    .f_logo {
        margin-right: 0;
        width: 100%;
        text-align: center;
    }
    .desktop_screen{display: none;}
    .mobile_screen{
        display: block;
        margin-top: 17px;
    }
    .f_logo {margin-bottom: 60px;}
    .dummy_bg_1 {width: 87%;}
    .dummy_bg_2 {width: 72%;}
    .dummy_bg_1, .dummy_bg_2, .dummy_bg_3 {
        background: #FFFFFF;
        opacity: 0.7;
        filter: blur(2px);
        border-radius: 11.7953px;
    }
    .get_the_latest_updates {margin-bottom: 50px;}
    .pr_launch_details h3 {font-size: 13px;}
    .pr_launch_details p {font-size: 11px;}
    .footer_menu {width: 100%;}
    #footer_section .form_group{padding-left: 0;}
}
@media (max-width:450px) {
    #footer_section .form_group input {
        height: 51px;
        background-size: contain;
    }
}
@media (max-width: 400px){
    .footer_menu_wrap {width: 100%;}
    #footer_section .form_group input {
        height: 44px;
        background-size: cover;
    }
    .copy_right_wrap p{text-align: center;}
    .copy_right_wrap p span {font-size: 13px;}
}
@media (max-width: 367px){
    .hero_inner {width: 100%;}
    .form_group input {
        width: 100%;
        height: 28px;
    }
    .form_group button {
        width: 100%;
        height: 52px;
        background-size: contain;
    }
    #footer_section .form_group input {height: 35px;}
    #footer_section .form_group button {background-image: url(../images/mobile_btn_wrap.png);}
    #hero_sec {padding-top: 305px;}
}